<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <h1>Project Tracker</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('tasks') }}">Tasks</a>
            <a href="{{ url_for('team') }}">Team</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-dark">
        <p>BIS Project Tracker &copy; 2025<br><bold class="text-warning">This project is developed by Thato Monyamane</bold></p>
    </footer>
</body>
</html>

